# ================================
# FRONTEND
# ================================
VITE_API_URL="" # For local development using a vite proxy | Default of 'http://localhost:3100/' | Use a nginx proxy to route traffic from 'frontend.domain.com/api' to the actual api

# ================================
# POSTGRESQL DATABASE
# ================================
POSTGRES_HOST="localhost" # Default "localhost"
POSTGRES_PORT=5432 # Default `5432`
POSTGRES_DB="document_signature_portal" # Default "document_signature_portal"
POSTGRES_USER="postgres" # Default "postres"
POSTGRES_PASSWORD="" # openssl rand -hex 16

# ================================
# RUSTFS / S3 STORAGE
# ================================

# ================================
# RABBITMQ MESSAGE BROKER
# ================================

# ================================
# CLAMAV (VIRUS SCANNER)
# ================================

# ================================
# EMAIL SERVICE
# ================================

# ================================
# ANALYTICS & OBSERVABILITY STACK
# ================================
